.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/5fbcc285-a371-48ce-965b-49abcc9a8f39/VN-vi-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg  ');
    background-repeat: no-repeat;
    background-size: cover;
}
